openapi: 3.1.0
info:
  title: Ease Status API
  version: v2
  summary: The public, unauthenticated status API for the Ease platform, served by Atlassian Statuspage at status.ease.com.
  description: >-
    Ease publishes a public status page at https://status.ease.com/, hosted on Atlassian
    Statuspage (page id 13zw4w6v89nk). That page exposes the standard Statuspage v2 JSON API
    anonymously, documented by Ease itself at https://status.ease.com/api, and it is the only
    first-party, self-serve, machine-readable operational API that Ease publishes: current
    platform status, the component list (Web Application, API, Support), open and historical
    incidents, and scheduled maintenance windows. Every operation is a GET, requires no
    authentication, and returns JSON.


    This document is GENERATED by API Evangelist from the endpoint reference Ease serves at
    https://status.ease.com/api and from live responses fetched on 2026-07-25 (saved under
    examples/). Every path here was verified to return HTTP 200 anonymously on that date.
    Response schemas describe the fields actually observed in those live responses; where the
    Statuspage documentation shows a field that the Ease page did not currently populate
    (for example incident components or scheduled maintenance windows, both empty at capture
    time), the field is modelled from the reference examples on https://status.ease.com/api.
    Nothing is invented.


    Note the scope: this is the status API. It is not the Ease benefits administration API.
    Ease has no public developer portal, and its enrollment data moves over ANSI X12 EDI 834
    files (EaseConnect), privately negotiated direct carrier connections (EaseConnect+), and
    partner-portal SFTP, none of which are publicly documented.
  contact:
    name: Ease Support
    url: https://help.ease.com/
  termsOfService: https://www.ease.com/terms/
  x-provenance:
    method: generated
    source: https://status.ease.com/api
    generated: '2026-07-25'
    note: >-
      Generated by API Evangelist from the Ease-hosted Statuspage v2 endpoint reference plus
      live anonymous probes; not published as an OpenAPI by Ease or Atlassian.
servers:
- url: https://status.ease.com/api/v2
  description: Ease status page (Atlassian Statuspage), page id 13zw4w6v89nk
security:
- {}
tags:
- name: Status
  description: Rollup status indicator and per-component status for the Ease platform.
- name: Incidents
  description: Unresolved and historical incidents, each composed of dated incident updates.
- name: Maintenance
  description: Upcoming, active and historical scheduled maintenance windows.
paths:
  /summary.json:
    get:
      operationId: getStatusSummary
      summary: Get a summary of the status page
      description: >-
        Get a summary of the status page, including a status indicator, component statuses,
        unresolved incidents, and any upcoming or in-progress scheduled maintenances.
      tags:
      - Status
      security:
      - {}
      responses:
        '200':
          description: The full status page summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25
                  externalValue: ../examples/ease-status-summary.json
  /status.json:
    get:
      operationId: getStatusRollup
      summary: Get the status rollup for the whole page
      description: >-
        Get the status rollup for the whole page. This endpoint includes an indicator - one of
        none, minor, major, or critical - as well as a human description of the blended
        component status, for example "All Systems Operational", "Partial System Outage" or
        "Major Service Outage".
      tags:
      - Status
      security:
      - {}
      responses:
        '200':
          description: The blended status indicator and description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25
                  externalValue: ../examples/ease-status-status.json
  /components.json:
    get:
      operationId: listStatusComponents
      summary: Get the components for the page
      description: >-
        Get the components for the page. Each component is listed along with its status - one of
        operational, degraded_performance, partial_outage, or major_outage. The Ease page
        publishes three components: Web Application, API, and Support.
      tags:
      - Status
      security:
      - {}
      responses:
        '200':
          description: The component list with per-component status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25
                  externalValue: ../examples/ease-status-components.json
  /incidents/unresolved.json:
    get:
      operationId: listUnresolvedIncidents
      summary: Get a list of any unresolved incidents
      description: >-
        Get a list of any unresolved incidents. This endpoint returns only incidents in the
        Investigating, Identified, or Monitoring state.
      tags:
      - Incidents
      security:
      - {}
      responses:
        '200':
          description: Unresolved incidents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentsResponse'
  /incidents.json:
    get:
      operationId: listIncidents
      summary: Get a list of the most recent incidents
      description: >-
        Get a list of the 50 most recent incidents. This includes all unresolved incidents as
        well as those in the Resolved and Postmortem state.
      tags:
      - Incidents
      security:
      - {}
      responses:
        '200':
          description: Recent incidents, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentsResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25 (26 incidents)
                  externalValue: ../examples/ease-status-incidents.json
  /scheduled-maintenances/upcoming.json:
    get:
      operationId: listUpcomingScheduledMaintenances
      summary: Get a list of any upcoming maintenances
      description: >-
        Get a list of any upcoming maintenances. A scheduled maintenance is a specific type of
        incident that is scheduled to start at some point in the future.
      tags:
      - Maintenance
      security:
      - {}
      responses:
        '200':
          description: Upcoming scheduled maintenances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenancesResponse'
  /scheduled-maintenances/active.json:
    get:
      operationId: listActiveScheduledMaintenances
      summary: Get a list of any active maintenances
      description: Get a list of any active maintenances, that is, maintenance windows currently in progress.
      tags:
      - Maintenance
      security:
      - {}
      responses:
        '200':
          description: Active scheduled maintenances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenancesResponse'
  /scheduled-maintenances.json:
    get:
      operationId: listScheduledMaintenances
      summary: Get a list of the most recent scheduled maintenances
      description: >-
        Get a list of the 50 most recent scheduled maintenances, including upcoming, active and
        completed windows.
      tags:
      - Maintenance
      security:
      - {}
      responses:
        '200':
          description: Recent scheduled maintenances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMaintenancesResponse'
components:
  schemas:
    Page:
      type: object
      description: Identity of the status page itself.
      properties:
        id:
          type: string
          examples: ['13zw4w6v89nk']
        name:
          type: string
          examples: ['Ease']
        url:
          type: string
          format: uri
          examples: ['https://status.ease.com']
        time_zone:
          type: string
          examples: ['America/Los_Angeles']
        updated_at:
          type: string
          format: date-time
      required: [id, name, url, updated_at]
    Status:
      type: object
      description: The blended status of the page.
      properties:
        indicator:
          type: string
          enum: [none, minor, major, critical]
        description:
          type: string
          examples: ['All Systems Operational', 'Partial System Outage']
      required: [indicator, description]
    Component:
      type: object
      description: A single monitored component of the Ease platform.
      properties:
        id:
          type: string
        name:
          type: string
          examples: ['Web Application', 'API', 'Support']
        status:
          type: string
          enum: [operational, degraded_performance, partial_outage, major_outage, under_maintenance]
        description:
          type: [string, 'null']
        position:
          type: integer
        showcase:
          type: boolean
        start_date:
          type: [string, 'null']
        group:
          type: boolean
        group_id:
          type: [string, 'null']
        only_show_if_degraded:
          type: boolean
        page_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, name, status]
    IncidentUpdate:
      type: object
      description: One dated update posted against an incident.
      properties:
        id:
          type: string
        status:
          type: string
          enum: [investigating, identified, monitoring, resolved, postmortem, scheduled, in_progress, verifying, completed]
        body:
          type: string
        incident_id:
          type: string
        display_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        affected_components:
          type: [array, 'null']
          items:
            type: object
        deliver_notifications:
          type: boolean
        custom_tweet:
          type: [string, 'null']
        tweet_id:
          type: [string, 'null']
      required: [id, status, body, incident_id]
    Incident:
      type: object
      description: An incident, composed of many incident updates.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [investigating, identified, monitoring, resolved, postmortem]
        impact:
          type: string
          enum: [none, minor, major, critical]
        shortlink:
          type: string
          format: uri
        page_id:
          type: string
        started_at:
          type: [string, 'null']
          format: date-time
        monitoring_at:
          type: [string, 'null']
          format: date-time
        resolved_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        incident_updates:
          type: array
          items:
            $ref: '#/components/schemas/IncidentUpdate'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        reminder_intervals:
          type: [string, 'null']
      required: [id, name, status, impact, incident_updates]
    ScheduledMaintenance:
      type: object
      description: A scheduled maintenance window - an incident scheduled to start in the future.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum: [scheduled, in_progress, verifying, completed]
        impact:
          type: string
          enum: [none, minor, major, critical]
        scheduled_for:
          type: [string, 'null']
          format: date-time
        scheduled_until:
          type: [string, 'null']
          format: date-time
        shortlink:
          type: string
          format: uri
        page_id:
          type: string
        monitoring_at:
          type: [string, 'null']
          format: date-time
        resolved_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        incident_updates:
          type: array
          items:
            $ref: '#/components/schemas/IncidentUpdate'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
      required: [id, name, status, impact, incident_updates]
    StatusResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        status:
          $ref: '#/components/schemas/Status'
      required: [page, status]
    ComponentsResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
      required: [page, components]
    IncidentsResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        incidents:
          type: array
          items:
            $ref: '#/components/schemas/Incident'
      required: [page, incidents]
    ScheduledMaintenancesResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        scheduled_maintenances:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledMaintenance'
      required: [page, scheduled_maintenances]
    SummaryResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        status:
          $ref: '#/components/schemas/Status'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        incidents:
          type: array
          items:
            $ref: '#/components/schemas/Incident'
        scheduled_maintenances:
          type: array
          items:
            $ref: '#/components/schemas/ScheduledMaintenance'
      required: [page, status, components, incidents, scheduled_maintenances]
