openapi: 3.2.0
info:
  title: Ease Status Incidents API
  version: v2
  summary: The public, unauthenticated status API for the Ease platform, served by Atlassian Statuspage at status.ease.com.
  description: 'Ease publishes a public status page at https://status.ease.com/, hosted on Atlassian Statuspage (page id 13zw4w6v89nk). That page exposes the standard Statuspage v2 JSON API anonymously, documented by Ease itself at https://status.ease.com/api, and it is the only first-party, self-serve, machine-readable operational API that Ease publishes: current platform status, the component list (Web Application, API, Support), open and historical incidents, and scheduled maintenance windows. Every operation is a GET, requires no authentication, and returns JSON.


    This document is GENERATED by API Evangelist from the endpoint reference Ease serves at https://status.ease.com/api and from live responses fetched on 2026-07-25 (saved under examples/). Every path here was verified to return HTTP 200 anonymously on that date. Response schemas describe the fields actually observed in those live responses; where the Statuspage documentation shows a field that the Ease page did not currently populate (for example incident components or scheduled maintenance windows, both empty at capture time), the field is modelled from the reference examples on https://status.ease.com/api. Nothing is invented.


    Note the scope: this is the status API. It is not the Ease benefits administration API. Ease has no public developer portal, and its enrollment data moves over ANSI X12 EDI 834 files (EaseConnect), privately negotiated direct carrier connections (EaseConnect+), and partner-portal SFTP, none of which are publicly documented.'
  contact:
    name: Ease Support
    url: https://help.ease.com/
  termsOfService: https://www.ease.com/terms/
  x-provenance:
    method: generated
    source: https://status.ease.com/api
    generated: '2026-07-25'
    note: Generated by API Evangelist from the Ease-hosted Statuspage v2 endpoint reference plus live anonymous probes; not published as an OpenAPI by Ease or Atlassian.
servers:
- url: https://status.ease.com/api/v2
  description: Ease status page (Atlassian Statuspage), page id 13zw4w6v89nk
security:
- {}
tags:
- name: Incidents
  description: Unresolved and historical incidents, each composed of dated incident updates.
paths:
  /incidents/unresolved.json:
    get:
      operationId: listUnresolvedIncidents
      summary: Get a list of any unresolved incidents
      description: Get a list of any unresolved incidents. This endpoint returns only incidents in the Investigating, Identified, or Monitoring state.
      tags:
      - Incidents
      security:
      - {}
      responses:
        '200':
          description: Unresolved incidents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentsResponse'
  /incidents.json:
    get:
      operationId: listIncidents
      summary: Get a list of the most recent incidents
      description: Get a list of the 50 most recent incidents. This includes all unresolved incidents as well as those in the Resolved and Postmortem state.
      tags:
      - Incidents
      security:
      - {}
      responses:
        '200':
          description: Recent incidents, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentsResponse'
              examples:
                live:
                  summary: Live response captured 2026-07-25 (26 incidents)
                  externalValue: ../examples/ease-status-incidents.json
components:
  schemas:
    Component:
      type: object
      description: A single monitored component of the Ease platform.
      properties:
        id:
          type: string
        name:
          type: string
          examples:
          - Web Application
          - API
          - Support
        status:
          type: string
          enum:
          - operational
          - degraded_performance
          - partial_outage
          - major_outage
          - under_maintenance
        description:
          type:
          - string
          - 'null'
        position:
          type: integer
        showcase:
          type: boolean
        start_date:
          type:
          - string
          - 'null'
        group:
          type: boolean
        group_id:
          type:
          - string
          - 'null'
        only_show_if_degraded:
          type: boolean
        page_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - status
    Page:
      type: object
      description: Identity of the status page itself.
      properties:
        id:
          type: string
          examples:
          - 13zw4w6v89nk
        name:
          type: string
          examples:
          - Ease
        url:
          type: string
          format: uri
          examples:
          - https://status.ease.com
        time_zone:
          type: string
          examples:
          - America/Los_Angeles
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - url
      - updated_at
    Incident:
      type: object
      description: An incident, composed of many incident updates.
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - investigating
          - identified
          - monitoring
          - resolved
          - postmortem
        impact:
          type: string
          enum:
          - none
          - minor
          - major
          - critical
        shortlink:
          type: string
          format: uri
        page_id:
          type: string
        started_at:
          type:
          - string
          - 'null'
          format: date-time
        monitoring_at:
          type:
          - string
          - 'null'
          format: date-time
        resolved_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        incident_updates:
          type: array
          items:
            $ref: '#/components/schemas/IncidentUpdate'
        components:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        reminder_intervals:
          type:
          - string
          - 'null'
      required:
      - id
      - name
      - status
      - impact
      - incident_updates
    IncidentsResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/Page'
        incidents:
          type: array
          items:
            $ref: '#/components/schemas/Incident'
      required:
      - page
      - incidents
    IncidentUpdate:
      type: object
      description: One dated update posted against an incident.
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - investigating
          - identified
          - monitoring
          - resolved
          - postmortem
          - scheduled
          - in_progress
          - verifying
          - completed
        body:
          type: string
        incident_id:
          type: string
        display_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        affected_components:
          type:
          - array
          - 'null'
          items:
            type: object
        deliver_notifications:
          type: boolean
        custom_tweet:
          type:
          - string
          - 'null'
        tweet_id:
          type:
          - string
          - 'null'
      required:
      - id
      - status
      - body
      - incident_id
